/* Landing-page stylesheet*/
/*#landingBody{
	background-image: url("../image/img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;

}*/
.bg-wrapper{
	background-image: url("../image/landing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;

	/*opacity: 0.7;*/
}
.landing-button{
	/*color:#606060;*/
	letter-spacing:1px;
	    text-transform: uppercase;
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid black;
    text-shadow: 1px 1px 6px white;
    color:black;

}



/*Index*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/*#header-section{
	text-align:center;
}*/
/*.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}*/
.navbar{
	margin-bottom: 0;
    text-decoration: none;
    border-radius: 0;
    height: 50px;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, 0);


}.navbar-inverse{
	background-color:rgba(255,255,255,0.6) !important;
}
.navbar-inverse 
.navbar-nav>li>a {
    color: black !important;

}
#site-name{
	font-weight:normal;
	line-height:1;
	font-size:18px;
}
.navbar-header{
	/*background-position:fixed;*/
}
#inner-carousel>.item>img{
	background-size:cover;
	background-position: center;
	background-repeat:no-repeat;
	width:100%;
	min-height:100vh;
	/*height:500px;*/
}
#left-paragraph-about{
	padding-top:100px;
	/*font-size:20px;*/
	padding-bottom:150px;

}
#about-header{
	font-weight:bold;
	font-size:40px;
}
#left-paragraph-about p{
	font-size:20px;
}
#about-section,
#service-section{
	font-family: 'Cormorant Garamond', serif;

}
#aboutImage{
	padding-top:130px;

}
#middle-image{
	height:500px;
	background-image:url("../image/another-image.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper-gray{
	background:#edecec;
	margin:40px;
}

#service-section{
	padding-top:50px;
}
#firstContent-wrap,
#secondContent-wrap,
#thirdContent-wrap{
	padding-top:100px;
}
#header-service-section{
	font-size:50px;
}
#firstContent-wrap{
	margin-top:50px;
}
#left-text{
	padding-top:10px;
	font-size:20px;
	padding-left:50px;

}
#first-image{
	padding-left:30px;
}

#secondContent-wrap{
	margin-top:100px;
}
#h2-color{
	color:#88744a;
	font-weight: bold;
	font-size:40px;
}
#second-image{
	padding-left:50px;
}
#left-second-text{
	padding-top:50px;
	font-size:20px;
	padding-right:20px;
}
#thirdContent-wrap{
	padding-top:100px;
}
#thirdContent-text{
	font-size:20px;
	padding-left:50px;
}
#img3-service{
	padding-bottom:10px;
	padding-left:20px;
}

/* project-section*/
#projects-section h2{
	text-align:center;
}
/**/

#anotherImage img{
	height:350px;
}
#anotherImage h2{
	text-align:center;
}
#footer-section{
	text-align:center;
}
#footer-section{
background-color:#000;
color:white;
padding-bottom:20px;
}
#text-footer{
	color:white;
	padding-top:10px;
}








/* projectSection Stylesheet*/
#project-header-text{
	margin-top:10vh;
}

#text-caption{
	text-align:center;
}
.thumbnail{
	 background-color: #edecec !important;
}
.thumbnail h4{
	color:#88744a;
}
#text-caption{
	min-height:200px !important;
}
#text-footer-project{
	text-align:center;
}

/* * * * *  * * **/











/*Media Queries*/


/*mobile layout*/
@media  (max-width:400px){
		
}


/*tablet layout*/

@media only screen and (min-width: 401px) and (max-width: 960px){
	
}


/*Desktop*/
@media only screen and (min-width: 961px){

}












