/*index*/
#theWrapper{
	background-image: url("../image/landing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;

}
.buttonContainer{
	padding-left:80vh;
	padding-top:30vh;
}
.buttonContainer span{
	font-size:50px;
	font-weight:bold;	
}
.banner h2,span{
	text-transform: uppercase;
}
.landing-button{
	color:#606060;
	letter-spacing:1px;
	text-transform: uppercase;
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid black;
    text-shadow: 1px 1px 6px white;
    color:black;

}

/**/

/*Home.html*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


.navbar{
	margin-bottom: 0;
    text-decoration: none;
    border-radius: 0;
    height: 50px;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, 0);
    /*background-color:black;*/

}.navbar-inverse{
	background-color:rgba(255,255,255,0.6) !important;
}
.navbar-inverse 
.navbar-nav>li>a {
    color: black !important;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: lightgrey !important;
}
#site-name{
	font-weight:normal;
	line-height:1;
	font-size:18px;
}
.navbar-header{
	/*background-position:fixed;*/
}
#inner-carousel>.item>img{
	background-size:cover;
	background-position: center;
	background-repeat:no-repeat;
	width:100%;
	min-height:100vh;
	/*height:500px;*/
}
/*endCarousel*/

/*headerPage*/
#header-page h1{
	text-align:center;
	margin-top:50px;
	font-weight:bold;
}

#header-page h3{
	text-align:center;
}
/**/




/*aboutSection*/
}
#left-paragraph-about{
	padding-top:100px;
	/*font-size:20px;*/
	padding-bottom:150px;

}
#about-section{
	margin-bottom:50px;
}
#about-header{
	font-weight:bold;
	font-size:40px;
	color:#88744a;
}
#left-paragraph-about p{
	font-size:20px;
}
/*#about-section,
#service-section{
	font-family: 'Cormorant Garamond', serif;

}*/
#aboutImage{
	margin-top:50px;

}
.thumbnail{
	margin-top:50px;
}
#middle-image{
	height:500px;
	background-image:url("../image/another-image.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper-gray{
	background:#edecec;
	margin:40px;
}

#service-section{
	margin-top:50px;
}
#firstContent-wrap,
#secondContent-wrap,
#thirdContent-wrap{
	margin-top:100px;
}
.text-center span{
	font-size:25px;
}
#header-service-section{
	font-size:50px;

}
#firstContent-wrap{
	margin-top:50px;
}
#left-text{
	margin-top:10px;
	font-size:20px;
	margin-left:50px;

}
#first-image{
	padding-left:30px;
}

#secondContent-wrap{
	margin-top:100px;
}
#h2-color{
	color:#88744a;
	font-weight: bold;
	font-size:40px;
}
#second-image{
	
}
#left-second-text{
	margin-top:50px;
	font-size:20px;
	/*padding-right:20px;*/
}
#thirdContent-wrap{
	margin-top:100px;
}
#thirdContent-text{
	font-size:20px;
	/*margin-left:10px;*/
}
#img3-service{
	margin-bottom:20px;
	/*margin-left:20px;*/
}

/*teamSection*/
#teamSection{
	text-align:center;
}


/*teamSection*/
.thumbnail #expert-tn3{
	min-height:130px !important;
}
.thumbnail #expert-tn4{
	min-height:200px !important;
}



/* project-section*/
#projects-section h2{
	text-align:center;
}
/**/

#footer-section{
	text-align:center;
}
#footer-section{
background-color:lightgrey;
color:black;
padding-bottom:10px;
}
#text-footer{
	color:black;
	padding-top:10px;
}
.footerMedia li{
	display:inline-block;
	color:black;
}

/* endHome.html*/







/* projectSection Stylesheet*/
#containerBg{
	background-image: url("../image/project-header.jpg");
	background-repeat: no-repeat;
/*	background-size: cover;*/
	height:400px;
	background-position: center;
/*	margin-top:50px;*/
}
.page-header-project{
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	margin-top:5vh;
	background-color:#F6F6F6;
}
#firstImages-projectSection{
	background-color:#F6F6F6;
}
#text-caption{
	text-align:center;

}
#text-caption h4{
	font-weight:bold;
}

.thumbnail{
	 background-color: #edecec !important;
	 min-height:370px !important;
}
.thumbnail #afp-p1{
	min-height:200px !important;
}
.thumbnail #afp-p2{
	min-height:200px !important;
}
.thumbnail #amvaca{
	min-height:215px !important;
}
.thumbnail #bayantel{
	min-height:215px !important;
}
.thumbnail #bayantel-2{
	min-height:200px !important;
}
.thumbnail #Afp{
	min-height:208px !important;
}
.thumbnail #afp-p8{
	min-height:215px !important;
}
.thumbnail h4{
	color:#88744a;
}
#footer-section-project{
	text-align:center;
}
#footer-section-project{
background-color:lightgrey;
color:black;
padding-bottom:20px;
}
#text-footer-project{
	color:black;
	padding-top:10px;
}
.footerMedia-project li{
	display:inline-block;
	color:black;
}


/* * * * *  * * **/


/*contact.html*/
#contact-location{
	margin-top:70px;
}
#text-footer-contact{
	text-align:center;	
}
 #map {
        height: 400px;
 	     width: 100%;       
}
#contact-item li{
	list-style: none;
}



/**/



/*about.html*/
#about-containerBg{
	background-image: url("../image/about-head.jpg");
	background-repeat: no-repeat;
	/*background-size: cover;*/
	height:390px;
	background-position: center;
	margin-top:30px;
}

.btn-default {
    color: white !important;
    background-color: black !important;
 }




/**/





/*Media Queries*/


/*mobile layout*/
@media  (max-width:400px){
	#theWrapper{
		background-size:cover;
		background-position: center;
		background-repeat:no-repeat;
	}	
}

/*tablet layout*/

@media only screen and (min-width: 401px) and (max-width: 960px){
	#theWrapper{
		background-size:cover;
		background-position: center;
		background-repeat:no-repeat;
	}	
	.buttonContainer{
		padding-left:80vh;
		padding-top:30vh;
	}
}
	


/*Desktop*/
@media only screen and (min-width: 961px){
	#theWrapper{
		background-size:cover;
		background-position: center;
		background-repeat:no-repeat;
	}	
	.buttonContainer{
		padding-left:80vh;
		padding-top:30vh;
	}
}












